* {
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;
}

.app-container {
  display: flex;
  width:400px;
  height:200px;
  border-radius: 5px;
  background-color:darkblue;
  margin-top: 20vh;
}

.question-container {
  margin-left:20px;
}

.options-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.option-button {
  width:150px;
  height: 30px;
  margin:5px;
  background-color:darkblue;
  border:skyblue solid;
  border-radius: 5px;
  cursor: pointer
}

.option-button:active {
  transform: scale(0.98);
  background-color: aqua;
}

.scoreboard {
  display: flex;
  align-items: center;
  text-align: center;
  margin:auto;
}

.questionBoard {
  display:flex
}